* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  /* color: white; */
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.top img{
  height: 46px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.top button{
  display: flex;
  align-items: center;
  gap: 3px;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 5px;
  background-color: transparent;
    color: #8b8b8b;

}

.center h3{
  font-size: 17px;
  font-weight: 500px;
}

.center h3 span{
  font-size:9px;
  font-weight: 400px;
  color: #8b8b8b;
}

.center h2{
  font-size: 20px;
}

.center .tag{
  display: flex;
  gap:5px;
  margin-top: 10px;
}

.center .tag h4{
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  padding: 3px 6px;
  background-color: #f0eaea;
  color: #111;;
}

.bottom{
  display: flex;
  justify-content: space-between;
  border-top: 1.5px solid #f0ecec;
  padding-top: 15px;
}

.bottom h3{
  font-size: 17px;
  font-weight: 500px;
}
.bottom p{
  font-size: 10px;
  color:#b1b1b1;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  font-weight: 600px;
}
