* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent{
  height: 100vh;
  width: 100%;
  background-color: #111;
}

.card{
  height: 400px;
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
}