* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap ;
  gap:20px;
}

.card {
  width: 300px;
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  background-color: #222;
  border-radius: 10px;
}

.card img {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.card p {
  margin: 20px 0px;
  /* margin: top/bottom right/left */
}

.card button {
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}