* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}
.parent{
  display: flex;
  flex-direction: column;
  background-color: #F1F4FB;
}

.parent h1 {
  margin-bottom: 30px; 
  margin-top: 0; 
}
.color-palette {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
}

.main-div{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.color-name p{
  font-size:18px;
  font-weight:300;
  text-align: center;
}
.image-card {
  display: flex;
  flex-wrap: wrap;    /* THIS is the magic */
  gap: 20px;          /* optional: adds spacing between cards */
  justify-content: center;  /* optional: centers the rows nicely */
}


.img-card {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  background-color:#fff;
  border: 2 px solid black;
  margin: 38px;

}

.img-card img{
  width: 100%;
}
.date-badge {
  position: absolute;
  top: 175px;
  left: 19px;
  background: white;
  padding: 8px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  font-size: 14px;
}
.info{
  padding:5px;
}